*{
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 8px 0;
   
    align-items: center;
}
 nav ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style: none; 
}

a{
    text-decoration: none;
}
.common-btn{
    background-color: #1D4ED8;
    border-radius: 10px;
    color: #FFFFFF;
    height: 35px;
    width: 100px;
    cursor: pointer;
} 
button:hover
{
    color: aquamarine;
}
li a{
    color: #575757;
}
/* navigation section end  */
/* hero section start  */
/* Header */
header{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("./assets/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content */
.hero-content{
    text-align: center;
    color: white;
    max-width: 800px;
    padding: 20px;
}

.hero-content h2{
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: 700;
}

.hero-content p{
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 35px;
    padding-bottom: 200px;
}
/* meet section start  */
.section-title{
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50PX;
    font-size: 40px;
   
}


.person-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 50px;
}

.person-card{
    border: 1px solid #ddd;
    border-radius: 10px;
  
   
}

.person-card img{
    width: 100%;
    display: block;

}

.person-info{
    padding: 20px;
}
/* meet section end  */
.price-card h2 {
    text-align: center;
    justify-content: center;
}
.price-card p {
    text-align: center;
    justify-content: center;
}
.work-section{
    border: 1px solid#E5E7EB;
    display: grid;
   
    grid-template-columns: repeat(3,1fr);
}